.question_form
  =form_for @question do |f|
    =f.label :content, "What is your question?"
    =f.text_area :content
    =f.label :location, "Where is your location?"
    =f.text_field :location
    =f.submit 'Edit'
