#title

.question_show
  .question_content
  =@question.content

.question_user
  Asked by
  =@question.user.email
  
.question_links
  =link_to 'Edit', edit_question_path(@question)
  &nbsp; 
  =link_to 'Delete', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }

.answer_form
  %br 
  =form_for [@question, Answer.new] do |f|
    =f.label :content, 'Answer', {:id => "answer_question_label"}
    =f.text_area :content
    %br
    =f.submit 'Submit'

    
- if @answers.blank?
  %br
  .message Be the first to answer this question
- else
  %br
  .answers
    -for answer in @answers
      .answer
        %br
        .answer_user
          =answer.user.email
        .atext
          =answer.content
        .edit_delete_answer
          =link_to 'Like', vote_answer_path(answer, type: 'up'), method: :post
          &nbsp; 
          =link_to 'Edit', edit_answer_path(answer)
          &nbsp;   
          =link_to 'Delete', answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' }
          %br
        .votes
          %br
          =answer.up_votes.count
          likes
          %br
%br
<div id="back_home_nav">
=link_to_function "Back", "history.back()"
&nbsp;
&nbsp; 
=link_to "Home", root_path
</div>
