.question
  .question_content
  .h3=@question.content
  .question_user
    Asked by
    =@question.user.email
  .question_location
    At
    =@question.location
  
.question_links
  .edit_question_link= link_to 'Edit Question', edit_question_path(@question)
  .delete_question_link= link_to 'Delete Question', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }

.answer_form
  %br 
  =form_for [@question, Answer.new] do |f|
    =f.text_area :content
    %br
    =f.submit 'Answer'

    
- if @answers.blank?
  %br
  .message Be the first to answer this question
- else
  %br
  .answers
    -for answer in @answers
      .answer
        =answer.content
        .answer_user
          Answered by
          =answer.user.email
        =link_to 'Edit Answer', edit_answer_path(answer)
        =link_to 'Delete Answer', answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' }
        .votes
          =answer.up_votes.count
          0 Up Votes
          =answer.down_votes.count
          0 Down Votes
          - unless current_user.voted?(answer)
            =link_to 'Upvote', vote_answer_path(type: 'up'), method: :post
            =link_to 'Downvote', vote_answer_path(type: 'down'), method: :post
%br
=link_to_function "Back", "history.back()"
