.question
  .question_content
  =@question.content

.question_user
  Asked by
  =@question.user.email

.question_location
  At
  =@question.location
  
.question_links
  .edit_question_link= link_to 'Edit Question', edit_question_path(@question)
  .delete_question_link= link_to 'Delete Question', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }

.answer_form
  %br 
  =form_for [@question, Answer.new] do |f|
    =f.text_area :content
    %br
    =f.submit 'Answer'

    
- if @answers.blank?
  %br
  .message Be the first to answer this question
- else
  %br
  .answers
    -for answer in @answers
      .answer
        .atext
          =answer.content
        .answer_user
          Answered by
          =answer.user.email
        .aedit
          =link_to 'Edit Answer', edit_answer_path(answer)
          %br
          =link_to 'Delete Answer', answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' }
          %br
        .votes
          %br
          %h2
            =answer.up_votes.count
            =link_to 'Like', vote_answer_path(type: 'up'), method: :post
            %br
          - unless current_user.voted?(answer)
            %br    
            %br
            %hr
%br
=link_to_function "Back", "history.back()"
