<div id='login_wrapper'>
  <div id='title'></div>

  <div id='new_user_form_cntr'>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <div id='new_user_submit'><%= f.submit "Sign in" %></div>
    <% end %>
  </div>

  <a href='/sign_up' data-role="button" class='btn'>Create new account</a>
</div>
