- if not questions.empty?
  .questions
    - for question in questions
      .question_cntr
        .question.left
          .question_content= link_to question.content, question_path(question)
          .num_answers
            =question.answers.count
            Answers
        .ttl.right
          .question_ttl= question.display_ttl
- else
  .message No questions found 
