- if user_signed_in?
- else
  =link_to 'Sign In', new_session_path(:user)
  </br>
  </br>
  %h1 Welcome To Groovy
  </br>
  .row.text-center
    =image_tag("logo.png")
  </br>
  </br>

=link_to 'Ask a question', new_question_path, data: { no_turbolink: true }
%h2 Questions Near You
- if @questions.blank?
  .message There are no questions :(
- else
  .questions
    - for question in @questions
      .question
        .question_content=link_to question.content, question_path(question)
        .question_location
          Near
          =question.location
        .num_answers
          =question.answers.count
          Answers
          %hr


