#welcome_wrapper
  #title
  #logo
  #btn_cntr
    =link_to 'Sign In', sign_in_path, data: { role: "button", inline: "true" }
    =link_to 'Sign Up', sign_up_path, data: { role: "button", inline: "true" } 
