development:
  adapter: postgresql
  encoding: utf-8
  database: groovy_prototype_development
  pool: 5
  port: 5432
  username: ['INPUT YOUR USERNAME']
  password:	['INPUT YOUR PASSWORD'] 

test:
  adapter: postgresql
  encoding: utf-8
  database: groovy_prototype_test
  pool: 5
  port: 5432
  username: ['INPUT YOUR USERNAME']
  password: ['INPUT YOUR PASSWORD']
