/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#header {
  height: 50px;
  margin-top: 10px;
  border: 0px;
  background-color: #ffffff;
  text-align: center;
}

#filter-map-canvas {
  margin: 30px auto;
}

#all_questions {
  width: 75%;
  margin: 0 auto;
}

#new_user .ui-input-text { 
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

#new_user_form_cntr {
  margin: 50px auto;
}

#new_user .ui-btn {
  margin: 0 auto;
}

#title {
  background-image: url('title.png');
  width: 250px;
  height: 47px;
  margin: 30px auto;
}

.ui-page, .ui-body-c, .ui-page-active, .ui-overlay-c, .ui-mobile-viewport
{
    background: transparent !important;
}

body, .ui-overlay-c
{
    background: url('http://www.hdwallpapers.in/wallpapers/digital_layers-1440x900.jpg') !important;
    background-repeat:repeat-y !important;
    background-position:center center !important;
    background-attachment:scroll !important;
    background-size:100% 100% !important;
}

.change_location {
    font-size: 1em; 
}

/* #slider-range-max { */
/*     width: 200px; */
/*     margin-left:0px; */
/*     border: 1px solid #e78f08; */
/*     background: #f6a828 */
/* } */

/* #slider-range-max .ui-slider-range { */
/*     background: white; */
/*     margin-left:350px; */
/*     border: 1px solid #e78f08; */
/*     background: #f6a828 */
/* } */

/* #slider-range-max .ui-slider-range { */
/*     background: white; */
/* } */


#map-canvas {
    height: 500px;
    width: 75%;
    margin-left: auto; 
    margin-right: auto; 
}

#filter-map-canvas {
    height: 300px; 
    width: 75%; 
}

#question_latitude  {
    display: none;
}

#question_longitude  {
    display: none;
}

label {
    color: #808080; 
}

#content_label, #radius_label, #ttl_label{
   font-weight: bold; 
}

#panel, #new_question_title {
    text-align: center; 
}