@import "bootstrap";

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 6em;
  letter-spacing: -2px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

h3, h4, h5, h6 {
  font-size: 3em;
}

form { 
  font-size: 3em; 
}
a {
  font-size: 3em;
}

.answer {
  font-size: 1em;

}
.answer .atext {
  font-size: 3em;
}

.answer .aedit{
  font-size: 8px;
}

.answer_user {
  font-size: 2em;
}

.answer .votes{
  font-size: 5px;
}

.question{
  font-size: 1em;
}
.question_show{
  font-size: 4em;
}
.question_location {
  font-size: 2em;
}

.homequestion_location {
    font-size: 2em;
}
.question_user {
      font-size: 2em;

}
textarea { 
width: 300px; 
height: 5em; 
}

p {
  font-size: 2em;
  line-height: 1.7em;
  margin_bottom:15px;
}

.navbar h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 3px;
  color: #FFFFFF;
  text-align: left;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
