// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome_wrapper {
  margin: 0 auto;
  width: 300px;
  height: 420px;
}

#logo {
  background-image: url('logo.png');
  width: 300px;
  height: 273px;
  margin: 50px auto;
}

#btn_cntr {
  width: 250px;
  padding-left: 20px;
  margin: 50px auto;
}
